.content_title_area
  .ct_left
    %h1 New Entry Type

= form_for [:setting, @entry_type] do |f|
  .form_buttons
    = button_tag 'Save', :class => 'button btn-save', :disable_with => 'Saving...'
    = link_to 'Cancel', :back, :class => 'button btn-cancel'

  = render 'form', :f => f