#header_logo
  %a{:href => root_url}<>
    = image_tag("logo.png", :alt => 'Taganoid')

  #header_links

  %img#spinner{:src => '/assets/loading.gif', :style => 'display:none; padding: 0; border: 0;'}